@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 1;

}
@model List<Works_for>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Project Name</th>
            <th scope="col">Hours </th>
            <th scope="col">More Details </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td>@item.EmpWorkFor.Fname @item.EmpWorkFor.Lname</td>
                <td>@item.ProjWorkFor.Pname</td>
                <td style="color:@ViewBag.Colors[i-2]">@item.Hours</td>
                <td><a href="/worksfor/Details/@item.ESSn"><i class="fa-solid fa-circle-info"></i></a></td>
            </tr>
        }  
    </tbody>
</table>

@section Slide_title {
    All Works For
}